/*
Estilo de la página web
*/
#banner {
    width: 3700px;
    height: 200px;
    position: sticky;
    top: 0%;
    align-content: center;
    left: 0%;
    background-image: url(https://i.pinimg.com/originals/a2/70/3e/a2703e75dc6f5707fb4e9d6622a7901a.jpg);
    background-repeat: no-repeat;
    background-size: 55% 120%;
}
h1 {
    background-color: gray;
    color: black;
    text-align: center;
}
h2 {
    font-size: large;
    opacity: 0.6; 
    font-size: x-large;
}
p {
    font-size: x-large;
    font-style: unset; 
}
#discos{
    font-style: initial;
    font-size: x-large;
    width: 50px;
    height: 50px;
}